#kep {
  border-radius: 50%;
}
#nagy {
    border-style: solid;
}
.fejlec {
    display: grid;
    grid-template: auto;
    background-color: white;
    height: 300px;
    align-items: center;
    padding-left: 30px;
    font-size: xx-large;
    background-image: url("15250.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    margin-bottom: 20px;
}

.fo{
    color: white;
}

body{
    font-family: 'roboto', sans-serif;
    background-color: red;
}

.menu {
    display: grid;
     grid-template-columns: auto auto auto auto;
    background-color: gray;
}
.gomb {
    display: inline-grid;
    background-color:black;
    height: 50px;
    margin: 10px 5px 10px 5px;
    color: white;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: large;
    transition-duration: 0.5s;

}

.gomb:hover {
    background-color: white;
    color: black;
}
.jobb {
    text-align: left;
}

  font-size: 17px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.ter{
    height: 88%;
    width: 60%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.gomb1{
        background-attachment: fixed;
        background-size: cover;
        background-image: url(artistic-wallpaper-download-for-iphone-4k-mobile-scaled.jpg);
        border: 1px solid black;
        color: white;
        padding: 40px 40px;
        transition: 1s;

    }
    .gomb1:hover{
        background-image: url(artistic-wallpaper-download-for-iphone-4k-mobile-scaled.jpg);
        background-size: cover;
        padding: 50px 60px;
        border: 2px solid black;
}
.gomb2{
        background-attachment: fixed;
        background-size: cover;
        background-image: url(artistic-wallpaper-download-for-iphone-4k-mobile-scaled%20m%C3%A1solata.jpg);
        border: 1px solid black;
        color: white;
        padding: 40px 40px;
        transition: 1s;

    }
    .gomb2:hover{
        background-image: url(artistic-wallpaper-download-for-iphone-4k-mobile-scaled%20m%C3%A1solata.jpg);
        background-size: cover;
        padding: 50px 60px;
        border: 2px solid black;
}
.gomb3{
        background-attachment: fixed;
        background-size: cover;
        background-image: url(catalonia.png);
        border: 1px solid black;
        color: white;
        padding: 40px 40px;
        transition: 1s;

    }
    .gomb3:hover{
        background-image: url(catalonia.png);
        padding: 50px 60px;
        border: 2px solid black;
}